{% extends 'base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock title %}
{% block content %}

<section class="container d-flex justify-content-center justify-content-lg-between p-4">
    
    <div class="me-5 d-none d-lg-block">
        <a href="javascript:history.back()" class="btn btn-secondary mb-3">← Back</a>
        <h1>Aims Institutes</h1>
        <span>
            <h1>Empowering Minds Since 1994.</h1>
        </span>
        <br>
        <p><b>Empowering Futures, Igniting Success: AIMS Institutes, Your Top Business School in Bangalore</b></p>
        <br>
        <p><b>About AIMS Institutes: One of the best B Schools in India</b></p>
        <p>Founded in 1994 in the dynamic city of Bangalore, AIMS Institutes has established itself as a premier destination among the top B schools in Bangalore and across India. At AIMS, we are committed to creating leaders who excel in academic pursuits and their societal contributions. Our proud distinction as a 2nd time NAAC accredited institution, scoring 3.25 out of 4.0 and receiving an 'A' Grade, is a testament to our unwavering dedication to educational excellence.</p>
        <br>
        <p><b>Why Choose AIMS Institutes? B School in Bangalore</b>
            <br>

            <b> At AIMS Institutes, you choose more than just a B school; </b>you choose a gateway to success in the challenging landscape of Indian and global business education. We distinguish ourselves through:
            <br>
            <b>Innovative Curriculum:</b> Our curriculum innovatively combines the latest global business trends with traditional academic methods.
            <br>
                <b>Experienced Faculty:</b> Our faculty brings together deep theoretical knowledge and real-world industry experience.
            <br>
               <b>State-of-the-Art Facilities:</b> Our facilities are modern and advanced, enhancing the learning experience.
            <br>
               <b>Dynamic Student Community:</b> A melting pot of diverse cultures and ideas, enriching your educational journey.</p><br>

               <p>AIMS started with 2 UG programs and 60 students and is now offering 6 PG. 10 UG programs and 2 PhD Programs having around 2000 students at the campus. AIMS has made a mark within a decade of its inception by consistently being ranked & rated as one of the best private B-Schools in the country by various rating agencies over the years. The Hospitality program has also been ranked among the best in the country and the graduates are widely accepted by leading chains in India and abroad. Also, students of various programs have been securing university ranks and setting high benchmarks consistently.</p><br>
               <p>AIMS is accredited ‘A’ Grade by NAAC with the highest score of 3.25 out of 4 for an institution that is being accredited for the first time. AIMS School of Business programmes are accredited by IACBE which is an international accreditation body for Business Schools.</p><br>
               <p>Apart from being consistently ranked among Top 1% of B-Schools in India in various leading surveys, AIMS has also been rated as best college for Entrepreneurship Education in India and ISB, Hyderabad has selected AIMS as a local delivery partner for the global Goldman Sachs 10,000 Women Entrepreneurs Development Programme</p><br>
               <p>AIMS not only believes in academic excellence but also provides an atmosphere to students and faculty to develop their skills and be ready to face challenges of outside world as true professionals which reflects in various activities of the following Focus Centres:</p><br>
               <ul data-rte-list="default"><li><p class="" style="white-space:pre-wrap;">AIMS Centre for Community Service</p></li><li><p class="" style="white-space:pre-wrap;">AIMS Centre for Consulting</p></li><li><p class="" style="white-space:pre-wrap;">AIMS Entrepreneurship Excellence Center</p></li><li><p class="" style="white-space:pre-wrap;">AIMS Centre for Research</p></li><li><p class="" style="white-space:pre-wrap;">AIMS Centre for Student Development</p></li><li><p class="" style="white-space:pre-wrap;">AIMS Centre for International Liaison</p></li><li><p class="" style="white-space:pre-wrap;">AIMS Centre for Sustainability</p></li></ul><br>
               <p>Absolute dedication to its goals of imparting value based education is strengthened by its vision to transform youth into professionals of global excellence, with a deep concern for society. The subtle ambience of the campus, the most disciplined presence of students, the serenity, the greenery and the impeccable neatness on the campus emanate positive vibes that at once strike the visitors. Consistent and untiring efforts of AIMS Institutes in creating a strong multi dimensional academic base in Bangalore naturally bring in encomiums and recognitions. The strong successful alumni base of the institute is a big boost to the students in analysing and acquiring the right skills to take up the challenges of the industry. The intellectual capital, the right mix of industry and the academic experience helps the students in enhancing the knowledge which helps them throughout their career.</p><br>
    </div>
    
    <div>
        <a href="https://www.facebook.com/AIMS1994" class="me-4 text-reset">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://x.com/AIMSinstitutes" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/aimsinstitutes1994/" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/school/aims---acharya-institute-of-management-&-sciences/posts/?feedView=all" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.youtube.com/@aimsinstitutes7015" class="me-4 text-reset">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
</section>




{% endblock content %}